{% extends "layout.html" %}

{% block title %}
    Error
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col align-self-center">
                <h1 class="apology"><span style="color:#FDB369;">O</span><span style="color:#FFECA3;">o</span><span style="color:#FD9898;">p</span><span style="color:#A8C3D7;">s</span><span style="color:#76AED2;">!</span></h1>
                <p class="apology">{{ message }}</p>
            </div>
        </div>
    </div>
{% endblock %}