{% extends "layout.html" %}

{% block title %}
    Income & Expenses
{% endblock %}

{% block main %}
    <!-- create filter for month -->
    <!-- https://codepen.io/lukesawczak/pen/gOPwyXo -->
    <div class="container" id="filter">
        <div class="row">
            <div class="filter">
                <form action="/cashflow" method="post" class="form-inline">
                    <div class="form-floating month">
                        <select class="form-select month" name="month" id="month" placeholder="Month">
                            <option disabled selected>Month</option>
                            <option value="01">January</option>
                            <option value="02">February</option>
                            <option value='03'>March</option>
                            <option value='04'>April</option>
                            <option value='05'>May</option>
                            <option value='06'>June</option>
                            <option value='07'>July</option>
                            <option value='08'>August</option>
                            <option value='09'>September</option>
                            <option value='10'>October</option>
                            <option value='11'>November</option>
                            <option value='12'>December</option>
                        </select>
                        <label for="month">Month</label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" name="year" id="year" type="number" placeholder="Year" min="2000" max="2100">
                        <label for="year">Year</label>
                    </div>
                    <button class="btn btn-sm" type="submit">Filter</button>
                    <button class="btn btn-sm" id="clear">Clear</button>
                </form>
            </div>
        </div>
    </div>

    <div class="px-5">
        <div class="subtitle">
            <h4>Expenses</h4>
        </div>
        <table class="table" id="expense_table">
            <colgroup>
                <col style="width: 70%">
                <col style="width: 30%">
            </colgroup>
            <thead>
                <tr>
                    <th class="text-start">Category</th>
                    <th class="text-end">Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                <tr>
                    <td class="text-start">{{ expense['category'] }}</td>
                    <td class="text-end">{{ expense['total'] | currency }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-end fw-bold">TOTAL</td>
                    <td class="text-end fw-bold total">{{ expenses_total | currency }}</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="px-5">
        <div class="subtitle">
            <h4>Income</h4>
        </div>
        <table class="table" id="income_table">
            <colgroup>
                <col style="width: 70%">
                <col style="width: 30%">
            </colgroup>
            <thead>
                <tr>
                    <th class="text-start">Category</th>
                    <th class="text-end">Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for income in incomes %}
                <tr>
                    <td class="text-start">{{ income['category'] }}</td>
                    <td class="text-end">{{ income['total'] | currency }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-end fw-bold">TOTAL</td>
                    <td class="text-end fw-bold total">{{ income_total | currency }}</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="mb-3">
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#add_cashflow_modal">Add New Record</button>
    </div>

    <div class="modal" id="add_cashflow_modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="add_cashflow_label">Add New Expenses / Income</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/add_cashflow" method="post">
                    <div class="mb-3 form-floating">
                        <select class="form-select" name="category" id="category">
                            <option disabled selected>Category</option>
                            <!-- iterate over all of the category -->
                            {% for category in CATEGORY %}
                                <option>{{ category }}</option>
                            {% endfor %}
                        </select>
                        <label for="category">Category</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <select class="form-select" name="account" id="account">
                            <option disabled selected>Account</option>
                            <!-- iterate over all of the category -->
                            {% for account in ACCOUNT %}
                                <option>{{ account }}</option>
                            {% endfor %}
                        </select>
                        <label for="account">Account</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input class="form-control" id="amount" name="amount" placeholder="Amount" type="number" step="0.01">
                        <label for="amount">Amount</label>
                    </div>
                    <button class="btn" type="submit">Add</button>
                </form>
            </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    //https://codepen.io/lukesawczak/pen/gOPwyXo
    function clearFields() {
        $('#year, #month').val('');
    }

    $('#clear').click(e => {clearFields();})
</script>
{% endblock %}