{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3 add_new_pic"></div>
            <div class="col-lg-6">
                <div class="subtitle add_new">
                    <h5>Change Password</h5>
                </div>
                <form action="/change_password" method="post" id="change_password_form">
                    <div class="mb-3 form-floating">
                        <input class="form-control" id="old_password" name="old_password" placeholder="Old Password" type="password">
                        <label for="old_password">Old Password</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input class="form-control" id="new_password" name="new_password" placeholder="New Password" type="password">
                        <label for="new_password">New Password</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input class="form-control" id="passcheck" name="passcheck" placeholder="Confirmed Password" type="password">
                        <label for="passcheck">Confirm Password</label>
                    </div>
                    <button class="btn" type="submit">Change Password</button>
                </form>
            </div>
            <div class="col-lg-3 add_new_pic">
                <img src="/static/sitting-6.png" class="image-fluid text-center ch_pass">
            </div>
        </div>
    </div>

{% endblock %}